extends layout

block content
  .content-header(style='padding-bottom: 15px')
    h1(style='border-bottom: solid 2px orange;')= title
    p Welcome to #{title}
  .content
    .container
      .row
        .box-body(style='background: #FFF;border: #FFF')
          h3 送金
        form.box-body(action="")
          div.col-12.clearfix(style='padding-top:1%')
            .float-left(style='width: 34%;')
              label.title.d-flex.align-items-center From:
            .float-right(style='width: 64%;')
              select.form-control.from-address(id='from_list' placeholder='' name="_from" required)
              script(id="from_tmpl" type="text/x-jsrender")
                option {{:id}}
          div.col-12.clearfix(style='padding-top:1%')
            .float-left(style='width: 34%;')
              label.title.d-flex.align-items-center To:
            .float-right(style='width: 64%;')
              select.form-control.from-address(id='to_list' placeholder='' name="_to" required)
              script(id="to_tmpl" type="text/x-jsrender")
                option {{:id}}
          div.col-12.clearfix(style='padding-top:1%')
            .float-left(style='width: 34%;')
              label.title.d-flex.align-items-center Send Coins:
            .float-right(style='width: 64%;')
              input.form-control.send-value(placeholder='' type="number" name='_value' required)

          div.col-12.clearfix(style='padding-top:2%')
            button.btn.btn-sm.btn-outline-success.float-right.send(type='button' disabled) Send


        .box-body(style="margin-top: 2%; background: #E7FFED;display:none"  id="detail")
          .float-left
            p(style='font-size:14px') Result
          .col-12
            .mx-auto(style='text-align:center')
              table#report.table.table-bordered(style='background: #FFF')
              script(id="report_tmpl" type="text/x-jsrender")
                thead
                  th 項目
                  th 詳細
                tbody
                  tr
                    td transactionHash
                    td {{:transactionHash}}
                  tr
                    td 送金元アドレス
                    td {{:from}}
                  tr
                    td 送金元残高
                    td {{:from_coin}}
                  tr
                    td 送金先アドレス
                    td {{:to}}
                  tr
                    td 送金先残高
                    td {{:to_coin}}




  script.
    $(document).ready(function(){
      $from_list = $.templates("#from_tmpl");
      $to_list = $.templates("#to_tmpl");
      axios.get('/api/accounts')
      .then(item => {
        let accounts = item.data.accounts;
        accounts = accounts.map(_ac => ({id: _ac}))
        $("#from_list").append($("#from_tmpl").render(accounts));
        $("#to_list").append($("#to_tmpl").render(accounts));
      })
    })

  script.
    function parseJson(data) {
      var returnJson = {};
      for (idx = 0; idx < data.length; idx++) {
        returnJson[data[idx].name] = data[idx].value
      }
      return returnJson;
    };

  script.
    $('form input:required').on('change', function(){
      let flag = true;
        $('form input:required').each(function(e) {
          if ($('form input:required').eq(e).val() === "") {
            flag = false;
          }
        });
        if (flag) {
          $('.send').prop("disabled", false);
        }
        else {
          $('.send').prop("disabled", true);
        }
    });

  script.
    $('.send').on('click', function(){
      $form = $(this).parents('form:first');
      const _data = parseJson($form.serializeArray());
      axios.post('/api/send-coin', { from: _data._from, to: _data._to, value: _data._value })
      .then(resp => {
        console.log(resp)
        $('#report').empty();
        $("#report").append($("#report_tmpl").render(resp.data));
        $('#detail').show('slow');
      })
    })

  script.
    $('.detail').on('click', function(){
      $('#summery').show();
    })