extends layout

block content
  .content-header
    h1.page-title= title
    p Welcome to #{title}
  .content
    .container
      .row
        .box-body.form-box
          h3 送金
        form.box-body
          .col-12.space-top.clearfix
            .float-left.left-width
              .title From:
            .float-right.right-width
              select.form-control.from-address(id='from_list' placeholder='' name="_from" required)

          .col-12.space-top.clearfix
            .float-left.left-width
              .title To:
            .float-right.right-width
              select.form-control.from-address(id='to_list' placeholder='' name="_to" required)

          .col-12.space-top.clearfix
            .float-left.left-width
              .title Send Coins:
            .float-right.right-width
              input.form-control.send-value(id="value" placeholder='' type="number" name='_value' required)

          .col-12.space-top.clearfix
              button.btn.btn-sm.btn-outline-success.float-right.send(type='button' disabled) Send


        #detail.box-body.result-box
          h3 Result
          .col-12
            .mx-auto.text-center
              table#report.table.table-bordered

        #has-error.box-body.error-box
          h3 Error
          .text-center 送金処理時にエラーが発生しました。ログを確認して下さい。


  //- template area
  script(id="opt-tmpl" type="text/x-jsrender")
    option {{:id}}

  script(id="report_tmpl" type="text/x-jsrender")
    thead
      th 項目
      th 詳細
    tbody
      tr
        td transactionHash
        td {{:transactionHash}}
      tr
        td 送金元アドレス
        td {{:from}}
      tr
        td 送金元残高
        td {{:from_coin}}
      tr
        td 送金先アドレス
        td {{:to}}
      tr
        td 送金先残高
        td {{:to_coin}}


  //- script area
  script.
    $(document).ready(function(){
      const $from_list = $.templates("#from_tmpl");
      const $to_list = $.templates("#to_tmpl");
      axios.get('/api/accounts')
      .then(item => {
        let accounts = item.data.accounts;
        accounts = accounts.map(_ac => ({id: _ac}))
        $("#from_list").append($("#opt-tmpl").render(accounts));
        $("#to_list").append($("#opt-tmpl").render(accounts));
      })
    })


    $('form input:required').on('change', function(){
      let flag = true;
        $('form input:required').each(function(e) {
          if ($('form input:required').eq(e).val() === "") {
            flag = false;
          }
        });
        if (flag) {
          $('.send').prop("disabled", false);
        }
        else {
          $('.send').prop("disabled", true);
        }
    });

    $('.send').on('click', function(){
      const _from = $('#from_list').val()
      const _to = $('#to_list').val()
      const _value = $('#value').val()
      axios.post('/api/send-coin', { from: _from, to: _to, value: _value })
      .then(resp => {
        $('#report').empty();
        $("#report").append($("#report_tmpl").render(resp.data));
        $('#detail').show('slow');
      })
      .catch(err => {
        console.error(err)
        $('#has-error').show('slow');
      })
    })

    $('.detail').on('click', function(){
      $('#summery').show();
    })